#library-gamecard {
    display: flex;
    flex-direction: row;
    max-width: 30rem;
    max-height: 16rem;
    gap: 1rem;
    font-size: clamp(0.5rem, 2vw, 1rem);
    background-color: #232730;
    padding: 0.5rem;
}

#library-gamecard-cover, #library-gamecard-info {
    flex: 1;
    min-width: 0;
}

#library-gamecard img {
    aspect-ratio: 2/1;
}

#library-gamecard p {
    font-size: inherit;
}

#library-gamecard-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}