#store-gamecard {
    flex: 1;
    display: flex;
    flex-direction: row;
    max-height: 15rem;
    gap: 1rem;
    font-size: clamp(0.5rem, 2vw, 1rem);
    background-color: var(--primary-bg-color);
    padding: 0.5rem;
}

#store-gamecard-cover {
    flex: 1;
    min-width: 0;
    min-height: 0;
}

#store-gamecard-cover img {
    aspect-ratio: 1/1;
}

#store-gamecard-info {
    flex: 2;
}

#store-gamecard-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}