#store-gamecard {
    display: flex;
    flex-direction: row;
    max-width: 30rem;
    max-height: 16rem;
    gap: 1rem;
    font-size: clamp(0.5rem, 2vw, 1rem);
    background-color: var(--primary-bg-color);
    padding: 0.5rem;
}

#store-gamecard-cover {
    flex: 1;
    min-width: 0;
}

#store-gamecard-info {
    flex: 2;
    min-width: 0;
}

#store-gamecard img {
    aspect-ratio: 2/1;
}

#store-gamecard p {
    font-size: inherit;
}

#store-gamecard-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}