#store-minigamecard {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    max-height: 20rem;
    gap: 1rem;
    font-size: clamp(0.5rem, 1vw, 0.8rem);
    background-color: var(--primary-bg-color);
    padding: 0.5rem;
}

#store-minigamecard:hover {
    cursor: pointer;
}

#store-minigamecard img {
    aspect-ratio: 1/1;
}

#store-minigamecard-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}