.game-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 5vh;
}

/* Name of game being played */
.game-container p:first-of-type {
    text-align: center;
    margin: 0;
}

.playable-area-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}