#auth-form {
    width: 15rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2rem;
    border-radius: 2rem;

    border: var(--border);
    background-color: var(--primary-bg-color);
}

.text-success {
    color: green;
}

.text-fail {
    color: red;
}