#homepage-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
}

#homepage-message {
    text-align: center;
}

#homepage-container .section {
    margin: auto;
    padding: 2rem;

    background-color: var(--primary-bg-color);
}