#news-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#news-list .section {
    padding: 1rem 2rem;
    border-radius: 1rem;

    border: 3px solid var(--border-color);
    background-color: var(--primary-bg-color);
}

.sidebyside-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1.5rem;
    width: 60%;
    margin: auto;

    background-color: var(--border-color);
}

.sidebyside-container .sidebyside-left,
.sidebyside-container .sidebyside-right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sidebyside-container img {
    max-width: 100%;
    height: 100%;
}

.single-image-container {
    width: 50%;
    padding: 1rem;
    border-radius: 1.5rem;
    margin: auto;
    background-color: var(--border-color);
}

.single-image-container img {
    max-width: 100%;
}