#news-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#news-list .section {
    padding: 1rem 2rem;
    border-radius: 1rem;

    border: var(--border);
    background-color: var(--primary-bg-color);
}

.comparison-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1.5rem;
    width: 50%;
    margin: auto;

    background-color: var(--tertiary-bg-color);
}

.comparison-container img {
    max-width: 100%;
    max-height: 100%;
}