#store-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#store-sort-and-search-bar-container {
    display: flex;
    flex-direction: row;

    justify-content: right;
    gap: 1rem;

    height: 3rem;
    padding: 0.5rem 1rem;
    border: 3px solid lightblue;
    border-radius: 0.7rem;
    background-color: var(--primary-bg-color);
}

#store-sort-and-search-bar-container .search-bar-container,
#store-sort-and-search-bar-container .search-bar-container input
{
    background-color: var(--primary-bg-color);
}

#store-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}