#store-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#store-sort-and-search-bar-container {
    display: flex;
    flex-direction: row;

    justify-content: right;
    gap: 1rem;

    height: 4rem;
    padding: 0 1rem;
    border: 3px solid var(--border-color);
    border-radius: 0.7rem;
    background-color: var(--primary-bg-color);
}

#store-sort-and-search-bar-container .search-bar-container {
    background-color: var(--primary-bg-color);
}

#store-collapsible {
    max-height: 20rem;
    background-color: var(--primary-bg-color);
    border: 5px solid var(--border-color);
}

#store-list-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20%);
    max-height: 30rem;
    overflow-y: scroll;
}