#store-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#store-search-bar {
    display: flex;
    flex-direction: row;

    justify-content: right;
    text-align: center;

    height: 3rem;
    padding: 0.5rem;
    border: 3px solid lightblue;
    border-radius: 0.7rem;
    background-color: #232730;
}

#store-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}