#playable-area {
    position: relative;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: lightblue;
}

#target {
    position: absolute;
    line-height: 1;
    border: none;
    background: transparent;
    font-size: 10vh;
}

#start-button-container, #gameover-screen {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#score-timer-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
}