:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: clamp(0.7rem, 2vw, 1rem);

    --primary-bg-color: #232730;
    --secondary-bg-color: #242424;
    --tertiary-bg-color: #1a1919;

    --primary-text-color: white;
    --border: 1px solid grey;
}

.light-theme {
    --primary-bg-color: lightblue;
    --secondary-bg-color: white;
    --primary-text-color: black;
    --border: 1px solid orange;
}

body {
    margin: 0;
    height: 100dvh;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color)
}

#root {
    height: 100%;
}

/* texts */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.header-title {
    text-align: center;
}

.bold {
    font-weight: bold;
}

ul {
    padding: 0;
}

.ul-dash {
    list-style-type: "- ";
}

/* text colors */
.text-green {
    color: green;
}

.text-red {
    color: red;
}

/* buttons */
button {
    font-size: inherit;
}