:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --primary-bg-color: #232730;
    --secondary-bg-color: #242424;
    --border: 1px solid grey;
}

body {
    margin: 0;
    height: 100dvh;
    background-color: var(--primary-bg-color);
}

#root {
    height: 100%;
}

/* texts */
p {
    margin: 0;
    font-size: clamp(0.7rem, 2vw, 1rem);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: bold;
}

.header-title {
    text-align: center;
}

.text-green {
    color: green;
    font-weight: bold;
}

.text-red {
    color: red;
    font-weight: bold;
}

/* buttons */
button {
    font-size: inherit;
}